# Core Torch Libraries
# torch==2.4.0+cu124
# torchvision==0.19.0+cu124
# torchaudio==2.4.0+cu124

# Transformers and Tokenizers
transformers==4.44.0
tiktoken==0.6.0

# Acceleration
# flash-attn==2.5.7

# UI and Utilities
pillow
gradio==4.44.0
numpydantic==1.6.8
